$primary: #3498DB;
$primaryDarken: darken($primary, 25%);

$success: #82E0AA;
$successDarken: darken($success, 25%);

$warning: #F8C471;
$warningDarken: darken($warning, 25%);

$danger: #F1948A;
$dangerDarken: darken($danger, 25%);

$black: #333333;
$white: #ffffff;
