@import '../../../styles/variables';

#Loader {
    h5, small {
        color: $primaryDarken;
    }
  .p-progress-spinner-circle {
    animation-name: ui-progress-spinner-color;
  }

  @keyframes ui-progress-spinner-color {
    100%,
    0% {
      stroke: $primary;
    }
    40% {
      stroke: $primary;
    }
    66% {
      stroke: $primary;
    }
    80%,
    90% {
      stroke: $primary;
    }
  }
}
